body{
  background-color: lightslategray;
}
h2 {
  color: red;
  border: 4px solid black;
  margin: auto;
}
p {
  font-style: italic;
  font-weight: bolder;
  color: green;
}

h2 + p {
  font-size: 200%;
  border: chocolate;
}